# Kata:

https://www.codewars.com/kata/5994dafcbddc2f116d000024/train/sql

## Your name or team members:

In [ ]:
Juan Manuel Pardo GarcÃ­a

## Use the following cells to test your solution:

In [ ]:
SELECT 
    y.player_name, 
    y.games, 
    TRIM(TO_CHAR(ROUND(CAST(y.hits AS NUMERIC) / y.at_bats, 3), '0.000')) AS batting_average
FROM 
    yankees AS y
WHERE 
    y.at_bats >= 100
ORDER BY 
    ROUND(CAST(y.hits AS NUMERIC) / y.at_bats, 3) DESC;