# Kata:

https://www.codewars.com/kata/5994dafcbddc2f116d000024/train/sql

## Your name or team members:

Elena Arenal

## Use the following cells to test your solution:

In [ ]:
'''Given a yankees table with the following schema,

-player_id STRING

-player_name STRING

-primary_position STRING

-games INTEGER

-at_bats INTEGER

-hits INTEGER

return a table with player_name, games, and batting_average=HITS/AT BATS
'''

In [ ]:
/* Your Query Here */

/*SELECT 
player_name,
games ,
CAST(hits as numeric))/cast(at_bats as float) as batting_average;
FROM yankees 
 */
SELECT
  player_name,
  games,
(CAST(hits AS numeric) / at_bats,3) AS batting_average 
FROM 
  yankees
WHERE
  at_bats >= 100
ORDER BY
  batting_average DESC;

## Copy your submited solution here:

In [ ]:

SELECT
  player_name,
  games,
CAST(ROUND(CAST(hits AS numeric) / at_bats  ,3)AS TEXT)AS batting_average 
FROM 
  yankees
WHERE
  at_bats >= 100
ORDER BY
  batting_average DESC;